.vscode/*

.DS_Store

# Ignorar archivos .json
*.json

# Ignorar archivos de configuración local
.env
*.local

# Ignorar carpetas de dependencias
node_modules/
vendor/

# Ignorar archivos de sistema
Thumbs.db
